@charset "UTF-8";
/*
reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot?ymp4s0");
  src: url("../font/icomoon.eot?ymp4s0#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?ymp4s0") format("truetype"), url("../font/icomoon.woff?ymp4s0") format("woff"), url("../font/icomoon.svg?ymp4s0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change font */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-experience:before {
  content: "";
}

.icon-company:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-world:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-tel:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../font/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../font/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../font/OpenSans-Bold.ttf") format("truetype");
}
body {
  font-family: "Open Sans";
  color: #ffff;
  background: #1f1c1c;
}
body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 980px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 992px) {
  [class*=__container] {
    max-width: 970px;
    padding: 0px 10px;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background: #302a2a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 567px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none !important;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 426px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 567px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 3;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger span {
    position: absolute;
    background-color: #e4e4e4;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    left: 0;
    top: 10.5px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #e4e4e4;
    position: absolute;
    width: 60%;
    height: 2px;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header__burger::before {
    right: 0;
    top: 0;
  }
  .header__burger::after {
    left: 0;
    bottom: 0;
  }
}

.menu-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 567px) {
  .menu-header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 68, 62, 0.95)), to(#192831));
    background: -o-linear-gradient(top, rgba(82, 68, 62, 0.95), #192831);
    background: linear-gradient(180deg, rgba(82, 68, 62, 0.95), #192831);
  }
  .menu-header__menu.active {
    top: 0;
  }
}
.menu-header__list {
  padding: 0px 0px 0px 30px;
}
@media (max-width: 567px) {
  .menu-header__list {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }
  .menu-header__list:last-child {
    margin: 0;
  }
}
.menu-header__link {
  text-decoration: none;
  color: #ffff;
  outline: none !important;
  position: relative;
  font-size: 16px;
}
@media (min-width: 992px) {
  .menu-header__link::after, .menu-header__link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 1px;
    background: #ffff;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .menu-header__link::after {
    width: 0;
    left: 0;
  }
  .menu-header__link::before {
    width: 0;
    right: 0;
  }
  .menu-header__link:hover::after {
    width: 50%;
  }
  .menu-header__link:hover::before {
    width: 50%;
  }
}
@media (max-width: 567px) {
  .menu-header__link {
    font-size: 30px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 80px 0px 0px 0px;
}
@media (max-width: 567px) {
  .main {
    padding: 60px 0px 0px 0px;
  }
}

.about {
  padding: 30px 0px 100px 0px;
  background: #948D94;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 10px 0px;
}
@media (max-width: 652px) {
  .about__content {
    display: block;
  }
}
.about__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px 0px 10px 0px;
}
.about__text p {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  text-align: justify;
}
.about__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 326px;
          flex: 0 0 326px;
  padding: 0px 20px 0px 0px;
  position: relative;
}
@media (max-width: 652px) {
  .about__photo {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }
}
.about__img img {
  max-width: 100%;
}
.about__name {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.about__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__group-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px;
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding: 0px 10px;
}
@media (max-width: 503px) {
  .about__group-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 130px;
            flex: 1 1 130px;
  }
}
.about__group-img {
  font-size: 50px;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 549px) {
  .about__group-img {
    font-size: 35px;
  }
}
.about__group-text {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  letter-spacing: 1px;
}
@media (max-width: 549px) {
  .about__group-text {
    font-size: 16px;
  }
}
.about__group-text span {
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

.about-slider {
  position: relative;
  top: -100px;
  padding: 0px 10px;
}
.about-slider__container {
  background: #5D5C61;
  max-width: 900px;
  padding: 0px 10px;
}

.slider__content {
  text-align: center;
  padding: 40px 0px;
}
.slider__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
.slider__text {
  font-size: 20px;
  letter-spacing: 0.2em;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-slider {
  position: relative;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
}
.slider .slick-dots li {
  list-style: none;
  font-size: 0;
  margin: 0px 8px;
  border-radius: 50%;
}
.slider .slick-dots li.slick-active {
  background: #ffffff;
}
.slider .slick-dots li button {
  width: 7px;
  height: 7px;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

@media (max-width: 997px) {
  .training {
    position: relative;
    top: -80px;
  }
}
.training__title {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  line-height: 120%;
}
.training__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -22.5px;
}
@media (max-width: 997px) {
  .training__row {
    margin: 0px -15px;
  }
}
.training__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 294px;
          flex: 1 1 294px;
  padding: 0px 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 997px) {
  .training__column {
    padding: 0px 15px;
  }
}
.training__item {
  background-color: #445162;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #445162;
  padding: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.training__img img {
  border-radius: 5px;
  max-width: 100%;
}
.training__title-training {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0px;
}
.training__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
}
.training__btn {
  color: #000;
  background: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  width: 70%;
  margin: 0px auto;
  cursor: pointer;
  -webkit-transform: skew(-21deg);
      -ms-transform: skew(-21deg);
          transform: skew(-21deg);
}
.training__btn span {
  display: inline-block;
  -webkit-transform: skew(21deg);
      -ms-transform: skew(21deg);
          transform: skew(21deg);
}
.training__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.training__btn:hover {
  color: #fff;
}
.training__btn:hover::before {
  right: 0;
  left: 0;
  opacity: 1;
}

.reviews {
  padding: 30px 0px 0px 0px;
}
@media (max-width: 997px) {
  .reviews {
    padding: 0;
    position: relative;
    top: -60px;
  }
}
.reviews__title {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  line-height: 120%;
}
.brands-reviews {
  margin: 0px 0px 30px 0px;
}
.brands-reviews__title {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  line-height: 120%;
}
.brands-reviews__img {
  padding: 0px 5px;
}
.brands-reviews__img img {
  max-width: 100%;
}
.brands-reviews .slick-list {
  overflow: hidden;
}
.brands-reviews .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brands-reviews .slick-slider {
  position: relative;
}

.inst-reviews {
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
}
.inst-reviews__title {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  line-height: 120%;
}
.inst-reviews__img {
  width: 15rem;
  padding: 0px 5px;
  opacity: 0.4;
}
.inst-reviews__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inst-reviews .slick-list {
  overflow: hidden;
}
.inst-reviews .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inst-reviews .slick-slider {
  position: relative;
  padding: 0px 50px;
}
.inst-reviews .slick-center {
  opacity: 1;
}
.inst-reviews .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  display: block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.inst-reviews .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/main/feedback/arrow.svg") 0 0/100% no-repeat;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.inst-reviews .slick-arrow.slick-prev:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.inst-reviews .slick-arrow.slick-next {
  right: 0;
  background: url("../img/main/feedback/arrow.svg") 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.inst-reviews .slick-arrow.slick-next:active {
  -webkit-transform: scale(0.9) rotate(180deg);
      -ms-transform: scale(0.9) rotate(180deg);
          transform: scale(0.9) rotate(180deg);
}
.intelligence {
  padding: 30px 0px 0px 0px;
}
.intelligence__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 133.3333333333%;
  margin: 0px 0px 20px 0px;
}
.intelligence__content {
  margin: 0px 0px 30px 0px;
}
@media (min-width: 706px) {
  .intelligence__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 706px) {
  .intelligence__content {
    margin: 0px 0px 20px 0px;
  }
}
.intelligence__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
  padding: 0px 20px 0px 0px;
}
.intelligence__img img {
  max-width: 100%;
}
@media (max-width: 706px) {
  .intelligence__img {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }
}
.intelligence__leader {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0px 0px 20px 0px;
  font-weight: 600;
}
.intelligence__leader span {
  display: block;
  white-space: nowrap;
  padding: 5px 0px 0px 0px;
}
.intelligence__subtitle {
  margin: 0px 0px 5px 0px;
}
.intelligence__list ul {
  list-style: disc;
  padding: 0px 0px 0px 17px;
}
.intelligence__list ul li {
  margin: 0px 0px 8px 0px;
}

.training-intelligence__title {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}
.training-intelligence__name-training {
  margin: 0px 0px 5px 0px;
}
.training-intelligence__pr {
  list-style: lower;
  padding: 0px 0px 0px 17px;
}
.training-intelligence__pr li {
  margin: 0px 0px 8px 0px;
}
.training-intelligence__pr li:last-child {
  margin: 0;
}

.footer {
  background: #3c48578e;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer__c {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__c img {
  max-width: 100%;
}
.footer__c:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}